{% extends 'main.html' %}

{% block content %}

{% load static %}

{{ form.errors }}
{{ form.non_field_errors }}

<style>

    .fixTableHead {
    margin-left:130px;
    height: 450px;
    width: 350px;    
    }

    .container {                
        color: #0c0c0c;
        font-family: Verdana;
    }
    .centered{
      margin: 0 auto;
    }
    
    h3{
      color:green;
    }
    table, th {
        border: 1px solid rgb(76, 12, 194);
        border-collapse: collapse;
        color: black;       
        text-align:left;        
    }
    table{
        height: 250px;
    }
    td {
      padding: 1px;
      height: 20px;
      font-weight: bold;      
    }
    td textarea {
      resize: none;
      height: 20px;
      width: 100%;
      display: block;
      box-sizing: border-box;
    }
    td:hover {
      background-color: rgb(173, 169, 185);
    }

</style>

<main> 
  
    <div class="container-fluid">  
            
            <a class="backButton" style="margin-left:130px;" href="{% url 'faculty' %}"><i class="fa fa-angle-left" style="font-size:48px;color:red"></i></a>            
            <h3>View Details</h3>
            <form class="form__field"  method="POST" enctype="multipart/form-data">

                {% csrf_token %}

              <div class="fixTableHead w-auto" style="float:left; margin-left:5px;"> 

                <table class="table">
                    <thead>
                      <tr>
                        <th>User Name</th>                       
                        <th>Email</th>
                        <th>Department</th>                        
                      </tr>
                    </thead>
                    <tbody>                     

                      <tr>
                        <td>{{ form.username }}</td>
                        <td>{{ form.email }}</td>
                        <td>{{ form.department }}</td>                        
                      </tr>
                      
                     
                    </tbody>
                </table>

                <a href="{% url 'faculty' %}">Go Back</a>
              
              </div> 

            </form>
               
    </div>
   
</main>


{% endblock content %}